<header>
  <div class='menu'>
      <div class='center'>
          <div class='title'><h2>Lorem Ipsum</h2></div>  <!-- title  -->
      </div> <!-- center -->
  </div> <!-- menu -->

  <div class='container-main'>
      <div class='center'>
          <div class='list-container-main'>
              <ul>
                  <li>Lorem ipsum dolor sit amet consectur</li>
                  <li>Lorem ipsum dolor sit amet consectur</li>
                  <li>Lorem ipsum dolor sit amet consectur</li>
                  <li>Lorem ipsum dolor sit amet consectur</li>
              </ul>
          </div> <!-- list-container-main -->

          <div class='form-container-main'>
              <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h2>
              <form>
                  <div class="input-form">
                      <span>Nome*</span>
                      <input type="text" name="nome" required/>
                  </div> <!-- input-form -->

                  <div class="input-form">
                      <span>E-mail*</span>
                      <input type="text" name="email" required/>
                  </div> <!-- input-form -->

                  <div class="input-form">
                      <span>Telefone*</span>
                      <input type="text" name="Telefone" required/>
                      <span>* Campos obrigatórios</span>
                  </div> <!-- input-form -->

                  <div class="input-submit">
                      <input type="submit" name="acao" value="Enviar"/>
                  </div> <!-- input-form -->

              </form>
          </div> <!-- list-form -->

      </div> <!-- form-container-main -->
  </div> <!-- container-main -->
</header>
